body {
    font-family: sans-serif;
}

nav {
    
    margin-left: 30px;
    margin-top: 25px;
    flex-wrap: wrap;
    float: right;
}


div a {
    border: 1px solid black;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    box-shadow: 6px 6px 6px 0 black;
}

div a:hover {
    border: 2px solid black;
    box-shadow: 10px 10px 10px 0 black;
    transition: 0.2s linear;
}

nav a {
    margin-right: 20px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    box-shadow: 5px 5px 5px 0 black;
}

nav a:hover {
    border: 3px solid black;
    box-shadow: 7px 7px 7px 0 black;
    transform: scale(1.1);
    transition: 0.1s linear;
}

.header {
    margin: 0px;
    width: 100%;
    display: flex;
    font-size:50px;
    background-color: yellow;
    justify-content: center;
}

.header h1 {
    padding-left: 10px;
    float: left;
    font-size: 50px;
    letter-spacing: 5px;
    text-shadow:-4px 2px rgb(226, 226, 96), -8px 4px rgb(255, 242, 0), -12px 6px rgb(255, 221, 0); 
    background-color: yellow; 
}

a {
    font-size: 30px;
}

h2 {
    font-size: 40px;
}

.info {
    height: 250px;
    margin: 10px;
    border: 1px solid lightgrey;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px grey;
    padding: 10px;
}

.info a{
    background-color: yellow;
    padding: 10px;
    border: 1px solid black;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.pizza {
    margin-top: 30px;
    height: 300px;
    border: 1px solid lightgrey;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px grey;
    padding: 10px;
    width:450px;
    margin-left: 30px;
}

.pizza:hover {
    transform: scale(1.1);
    transition: 0.5s linear;
}

.info div {
    width: 50%;
    float: left;
}

.info img {
    float: right;
    width: 50%;
}

.menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

h1 {
    background-color: white;
    display: block;
    text-align: center;
}

.pizza img {
    position: relative;
    top: 50px;
    display: block;
    float: left;
}
.pizza div {
    width: 200px;
    display: block;
    float: right;
}

.heade {
    font-size: 30px;
    
}

.price {
    font-size: 24px;
}

.buy {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main h1 {
    background-color: white;
    display: block;
    text-align: center;
}
.buy1  {
    margin: auto;
    background-color: orange;
    width: 100px;
    height: 100px;
    padding: 10px;
    border-radius: 50%;
}

.buy1 p {
    padding-top: 30px;
    margin: auto;
    text-align: center;
}


.How {
    background-image: url("https://as1.ftcdn.net/v2/jpg/05/82/11/30/1000_F_582113030_duAPGvhBvMDqc1QtbQbgzk83ItSPmzaO.jpg");
    height: 600px;
}

.How p {
    color: white;
    padding: 10px;
}

.How h1 {
    background-color: white;
    display: block;
    text-align: center;
}

.How1 img {
    opacity: 0.5;

}

.ew {
    background-color: yellow;
    width: 100%;
}

.ew1{
    display: inline-block;
    padding: 20px;
}
.ew1 img {
    float: left;
    margin: 5px;
}

.we {
    position: relative;
    float: right;
    top: 75px;
}

